@font-face {
    font-family: SolaimanLipi;
    src: url(SolaimanLipi.ttf);
}
@font-face {
    font-family: Niladri;
    src: url(Niladri.ttf);
}
.bangla {
    font-family: SolaimanLipi;
}
.Symbol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.heading {
    font-family: Niladri;
    text-align: center;
    font-size: 50px;
}
.left {
    float: left;
}
.right {
    text-align: right;
}
/* li {
    list-style: none;
    height: 100px;
    width: 75px;
    float: left;
    border: 1px solid lightgrey;
    padding: 3px;
    margin: 2px;
} */
.grid-container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
}
  
.grid-item {
    border: 1px solid lightgrey;
    text-align: left;
    width: 100px;
    padding: 5px;
}
.item0 {
    border: none;
    text-align: center;
}
.item01 {
    border: none;
    grid-column-start: 3;
    grid-column-end: 19;
}
.item02 {
    border: none;
    grid-column-start: 4;
    grid-column-end: 14;
}
/* .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  } */
/* .item4 , .item5{
    grid-row-start: 2;
    grid-row-end: 4;
} */
/* .item2 {
    grid-column-start: 2;
    grid-column-end: 19;
} */